<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  {{!-- adding bootstrap via npm package --}}
  {{!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css"> --}}
  <link rel="stylesheet" href="../../public/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <title>Gift Fetcher</title>
</head>

<body>
  {{{body}}}
</body>

</html>
