<nav class="sticky-top">
  <div class="nav-wrapper">
    <a href="index.html" class="brand-logo"><span class="gift-icon"><i class="fas fa-gift"></i></span>Gift Fetcher</a>
    {{!-- ToDo: Work on collapsible menu for mobile --}}
    <ul class="right hide-on-small-only">
      <li><a href="index"><i class="fas fa-home"></i></a></li>
      <li><a href="contacts"><i class="fas fa-user-friends"></i></a></li>
      <li><a href="profile"><i class="fas fa-cog"></i></a></li>
    </ul>
  </div>
</nav>

<div class="fluid-container">
  <div class="sidebar">
    {{> sidebar/circle-slider}}
  </div>
  <div class="content">

  </div>
</div>