<nav class="sticky-top">
  <div class="nav-wrapper">
    <a href="index.html" class="brand-logo"><span class="gift-icon"><i class="fas fa-gift"></i></span>Gift Fetcher</a>
    {{!-- ToDo: Work on collapsible menu for mobile --}}
    <ul class="right hide-on-small-only">
      <li><a href="index.html"><i class="fas fa-home"></i></a></li>
      <li><a href="friend-list.html"><i class="fas fa-user-friends"></i></a></li>
      <li><a href="profile.html"><i class="fas fa-cog"></i></a></li>
    </ul>
  </div>
</nav>

<div class="fluid-container"> 
  <div class="sidebar">
    {{> sidebar/upcoming-events}}
  </div>
  <div class="content green">
    {{> content/product-search}}
    {{#each products}}
    {{/each}}

  </div>
</div>

<!-- Initialize Document -->
<script type="text/javascript">
  $(document).ready(() => {

  });
</script>