<head>
  <link rel="stylesheet" type="text/css" href="../../public/styles/logon.css">
</head>

<div class="bg-view">
  <div class="logon-view text-center">
    <h1 id="logon-title" class="mt-3"><span class="gift-icon"><i class="fas fa-gift"></i></span> Gift Fetcher</h1>
    <h5>Save special events, gift preferences, and gift ideas for your loved ones!</h5>
    <div class="row submit-row d-flex justify-content-center">
    <button class="btn waves-effect waves-light submit-btn" id="logon-btn" type="submit" name="action"><a href="/auth/google/callback">Google Log in</a></button>
    <button class="btn waves-effect waves-light submit-btn" id ="signup-btn" type="submit" name="action"><a href="new-user">Sign Up</a></button>
  </div>
  </div>
</div>
