<script type="text/javascript">
  $(document).ready(() => {
    $('#calendar').fullCalendar();
  })

</script>

<section id="calendar-section" class="row">
  <h1 class="section-title w-100">calendar</h1>
  <div class="calendar-view">
    <!-- See https://fullcalendar.io/docs/google-calendar for info on how to integrate with Google Calendar -->
    <div id="calendar"></div>
  </div>
</section>