<script type="text/javascript">
  
  $(document).ready(() => {
    /* initialize "new" calendar - Mike */
    $('#calendar').fullCalendar({
        defaultView: 'month',

        // add click event for calendar events
        eventClick: function(calEvent, jsEvent, view) {
            alert('Event: ' + calEvent.title);
            // change the border color just for fun
            //$(this).css('border-color', 'red');
            $(this).css('background-color', 'green');

        },
        
        // add hover popup for the calendar events
        eventRender: function(eventObj, $el) {
            $el.popover({
              title: eventObj.title,
              content: eventObj.description,
              trigger: 'hover',
              placement: 'top',
              container: 'body'
            });
        }


    });

    //loadCalendarData(personId)

    $.ajax({
          url: "/api/event/geteventsbycreator",
          type: "GET"
        }).then(function(data) {
          alert(JSON.stringify(data));
          console.log("++++++++++++++++++++++++++++++++++++++++++++++++++++");
          console.log("data: ", data);
          console.log("++++++++++++++++++++++++++++++++++++++++++++++++++++");
          for (let i=0; i < data.length; i++) {   
                     
            let cellColor = "red";
            if (purchased) {
            cellColor = "green"
            }

            // add event to the calendar UI  
            $('#calendar').fullCalendar('renderEvent', {
                title: data[i].title,
                description: data[i].description,
                start: data[i].eventDate,
                allDay: true,
                color: cellColor     
            });
          }
        });
  })

</script>

<section id="calendar-section" class="row">
  <h1 class="section-title w-100">calendar</h1>
  <div class="calendar-view">
    <!-- See https://fullcalendar.io/docs/google-calendar for info on how to integrate with Google Calendar -->
    <div id="calendar"></div>
  </div>
</section>