<section id="preference-list" class="mt-3">
  <h1 class="section-title">Gift Preferences</h1>
  <form class="row">
    <div class="input-field col s6" id="add-preference">
      <input class="mb-0" placeholder="Enter favorite colors, hobbies, interests, etc" id="preference-input" type="text">
      <label for="preference-input">Add Preference</label>
    </div>
    <!-- Clicking this button adds filter search terms -->
    <a class="btn-floating btn-small waves-effect waves-light mr-2"><i class="material-icons">add</i></a>
    <a class="btn-floating btn-small waves-effect waves-light"><i class="material-icons">email</i></a>
  </form>

  <div class="preference-view d-flex flex-wrap">
    <div class="preference-tile self-selected d-inline-flex">
      <p class="preference-name">Pink</p>
    </div>
    <div class="preference-tile self-selected d-inline-flex">
      <p class="preference-name">Electronics</p>
    </div>
    <div class="preference-tile d-inline-flex">
      <p class="preference-name">Video Games <i class="far fa-times-circle"></i></p>
    </div>
    <div class="preference-tile d-inline-flex">
      <p class="preference-name">Cats <i class="far fa-times-circle"></i></p>
    </div>
  </div>
</section>