<script type="text/javascript">
  $(document).ready(() => {

    $('.slider-bar').slick({
      centerMode: true,
      slidesToShow: 9,
      slidesToScroll: 3,
      centerPadding: '20px',
      lazyLoad: 'ondemand',
      responsive: [{
        breakpoint: 1880,
        settings: {
          slidesToShow: 8
        }
      }, {
        breakpoint: 1730,
        settings: {
          slidesToShow: 7
        }
      }, {
        breakpoint: 1588,
        settings: {
          slidesToShow: 6
        }
      }, {
        breakpoint: 1420,
        settings: {
          slidesToShow: 5
        }
      }, {
        breakpoint: 1230,
        settings: {
          slidesToShow: 4
        }
      }, {
        breakpoint: 1090,
        settings: {
          slidesToShow: 3
        }
      }, {
        breakpoint: 955,
        settings: {
          slidesToShow: 2
        }
      }]
    });
  });
</script>

<section id="product-list" class="my-2">
  <form class="row">
    <div class="input-field col s6" id="add-preference">
      <input class="mb-0" placeholder="Enter search terms" id="preference-input" type="text">
      <label for="preference-input">Refine Search</label>
    </div>
    <!-- Clicking this button adds filter search terms -->
    <a class="btn-floating btn-small waves-effect waves-light"><i class="material-icons">add</i></a>
  </form>

  <div class="preference-view d-flex flex-wrap mb-3">
    <div class="preference-tile d-inline-flex">
      <p class="preference-name">Electronics <i class="far fa-times-circle"></i></p>
    </div>
    <div class="preference-tile d-inline-flex">
      <p class="preference-name">Sony <i class="far fa-times-circle"></i></p>
    </div>
  </div>

  <div class="slider-bar pb-3">
    <div class="item-container"><a href="#"><img data-lazy="../../public/images/ex2.jpg"></a></div>
    <div class="item-container"><a href="#"><img data-lazy="../../public/images/ex2.jpg"></a></div>
    <div class="item-container"><a href="#"><img data-lazy="../../public/images/ex3.jpg"></a></div>
    <div class="item-container"><a href="#"><img data-lazy="../../public/images/ex4.jpg"></a></div>
    <div class="item-container"><a href="#"><img data-lazy="../../public/images/ex5.jpg"></a></div>
    <div class="item-container"><a href="#"><img data-lazy="../../public/images/hdr1.jpg"></a></div>
    <div class="item-container"><a href="#"><img data-lazy="../../public/images/hdr2.jpg"></a></div>
    <div class="item-container"><a href="#"><img data-lazy="../../public/images/hdr3.jpg"></a></div>
    <div class="item-container"><a href="#"><img data-lazy="../../public/images/hdr4.jpg"></a></div>
    <div class="item-container"><a href="#"><img data-lazy="../../public/images/hdr5.jpg"></a></div>
  </div>
</section>