.name-tile {
  margin: 120px 0px 0px 0px;
  height: 300px;
  width: 300px;
  font-size: 40px;
}

/* Special Events */
.event-view {
  height: 350px;
  overflow: auto;
}

.event-tile {
  width: 300px;
  font-size: 20px;
  margin: 0px auto 10px auto;
  border-radius: 25px;
  background-color: #91abad;
}

.event-tile .row {
  margin: 0px;
  position: relative;

}

.event-tile .event-icon {
  font-size: 35px;
  margin: 5px 0px 5px 0px;
  color: white;
}

.event-details {
  align-content: flex-start;
  margin: auto 0px auto 0px;
}

.event-name {
  font-weight: bold;
}

.event-name, .event-date {
  font-size: 14px;
  margin: 0px;
  height: 25px !important;
  font-family: 'Syncopate';
  color: white;
}
