.name-tile {
  margin: 0px 0px 0px 0px;
  width: 270px;
  font-size: 50px;
  font-family: 'Sacramento';
  line-height: 60px;
}

.name-tile a {
  color: black;
}

/* Special Events */
.event-view {
  height: 350px;
  overflow: auto;
}

.event-tile {
  width: 300px;
  font-size: 20px;
  margin: 0px auto 10px auto;
  border-radius: 25px;
  background-color: #91abad;
}

.event-tile .row {
  margin: 0px;
  position: relative;

}

.event-tile .event-icon {
  font-size: 35px;
  margin: 5px 0px 5px 0px;
  color: white;
}

.event-details {
  align-content: flex-start;
  margin: auto 0px auto 0px;
}

.event-name {
  font-weight: bold;
}

.event-name, .event-date {
  font-size: 14px;
  margin: 0px;
  height: 25px !important;
  font-family: 'Syncopate';
  color: white;
}

/* Preferences */
#add-preference {
  margin-left: 10px;
}

.preference-view {
  margin: 0px 0px 0px 20px;
}

.preference-tile {
  border-radius: 24px;
  background-color: #91abad;
  color: white;
  margin: 0px 5px 10px 0px;
  padding: 10px;
  font-family: 'Syncopate';
}

.preference-name {
  margin: 0px;
}

.preference-tile .row {
  margin: 0px;
  position: relative;

}

.event-tile .event-icon {
  font-size: 35px;
  margin: 5px 0px 5px 0px;
  color: white;
}

.event-details {
  align-content: flex-start;
  margin: auto 0px auto 0px;
}

.event-name {
  font-weight: bold;
}

.event-name, .event-date {
  font-size: 14px;
  margin: 0px;
  height: 25px !important;
  font-family: 'Syncopate';
  color: white;
}

/* Self-entered preferences */
.self-selected {
  background-color: #404e7c;
}