html body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: white;
}

/* Navbar */
.nav-wrapper {
  background-color: #91abad;
}

.brand-logo {
  font-family: 'Sacramento';
  padding: 0px 20px !important;
  font-size: 45px !important;
}

.gift-icon {
  color: #ae0000;
  font-size: 45px !important;
}

/* Side nav */
.sidenav, .sidebar {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow: hidden;
  margin-top: 64px;
}

.name-text {
  font-family: 'Sacramento';
  font-size: 40px; 
}

/* Upcoming events */
.upcoming-event-view {
  height: 750px;
  overflow: auto;
}

.upcoming-event-view .event-tile {
  width: 300px;
  font-size: 20px;
  margin: 0px auto 10px auto;
  border-radius: 25px;
  background-color: #91abad;
}

.event-list {
  border-radius: 24px;
}

.event-icon {
  font-size: 35px;
  margin: 5px 0px 5px 0px;
  color: white;
}

.contact-name, .event-name, .event-date {
  font-size: 14px;
  margin: 0px;
  height: 25px !important;
  font-family: 'Syncopate';
  color: white;
}

.upcoming-event-view .event-name {
  font-weight: normal;
}

.upcoming-event-view .contact-name {
  font-weight: bold;
}

.upcoming-event-view .event-details {
  margin: 5px 0px;
}

.upcoming-event-view .delete-icon {
  position: relative;
  right: -5px;
  top: 5px;
  color: white;
}

.delete-icon {
  position: relative;
  right: 0px;
  top: 15px;
  color: white;
}

.ok-icon {
  color: white;
  /* position: relative;
  right: 19px;
  top: 23px; */
}

.missing-icon {
  color: #ae0000;
}

/* Content body */
.content {
  margin-left: 350px;
  padding: 0px 10px;
}

/* Section */
.section-title {
  font-family: 'Syncopate';
  font-size: 25px;
  font-weight: bolder;
  padding: 10px 20px 0px 20px;
  margin: 0px 0px 10px 0px;
  color: #ae0000;
}

.sub-title {
  font-family: 'Syncopate';
  color: #ae0000;
  font-size: 16px;
}

/* Calendar */
.fc-calendar-container {
  margin: 20px
}
h2 {
  font-family: 'Syncopate';
  font-size: 20px;
}

/* Contact List */
.friend-tile {
  border-radius: 24px;
  background-color: #91abad;
  color: white;
  margin: 0px 5px 10px 0px;
  padding: 10px;
  font-family: 'Syncopate';
}

.friend-name {
  margin: 0px;
}

.friend-tile .row {
  margin: 0px;
  position: relative;
}

/* Form */
.form-title {
  font-family: 'Telex';
  font-size: 25px;
}

.form-section {
  font-family: 'Telex';
  font-size: 16px;
}

/* Buttons */

.submit-btn {
  border-radius: 24px;
  background-color: #91abad;
  font-family: 'Syncopate';
}

.btn-floating {
  background-color: #91abad;
}


/* Scrollbar */

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ae0000; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.caret {
  display: none;
}