html body {
  height: 100%;
  padding: 0px;
  margin: 0px;
  background-color: white;
}

/* Navbar */
.nav-wrapper {
  background-color: #91abad;
}
.brand-logo {
  font-family: 'Sacramento';
  padding: 0px 20px !important;
}

.gift-icon {
  color: #ae0000;
}

/* Side nav */
.sidenav {
  height: 100%;
  width: 350px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: white;
  overflow: hidden;
  margin-top: 64px;
}

.name-text {
  font-family: roboto;
}

/* Upcoming events */
.event-list {
  border-radius: 24px;
}

.date-circle {
  font-size: 25px;
  color: white !important;
  padding: 11px 1px 0px 0px;
  background-color: #91abad;
}

.event-alerts .avatar {
  min-height: 64px !important;
}

.secondary-content {
  margin-top: 8px;
  font-size: 20px;
}

.missing-icon {
  color: #ae0000;
}

/* Content body */
.content {
  margin-left: 350px;
  padding: 0px 10px;
}

.content section {
  background:lightgrey;
}

/* Section */
.section-title {
  font-family: 'Telex';
  font-size: 20px;
  padding: 10px 20px 0px 20px;
  margin: 0px 0px 10px 0px;
  color: white;
}

/* Calendar */
.fc-calendar-container {
  margin: 20px
}
h2 {
  font-family: 'Telex';
  font-size: 20px;
}

/* Contact List */
.friend-tile {
  width: 200px;
  font-size: 20px;
  margin: 0px 0px 16px 16px;
  background: white;
  border-radius: 25px;
}

.friend-tile .row {
  margin: 0px;
  position: relative;
}

.friend-tile .user-icon {
  font-size: 40px;
  margin: 5px 0px 5px 0px;
  color: #91abad;
}

.friend-name {
  align-content: flex-start;
  margin: auto 0;
}

.friend-first-name {
  margin-right: 10px !important;
}

.friend-first-name, .friend-last-name {
  font-size: 18px;
  margin: 0px;
  height: 25px !important;
}

/* Form */
.form-title {
  font-family: 'Telex';
  font-size: 25px;
}

.form-section {
  font-family: 'Telex';
  font-size: 20px;
}
