/* New User Form */
.btn-floating {
  background-color: #91abad;
}

.new-user-form {
  margin-bottom: 0px;
}

.caret {
  display: none;
}

/* User Wish List */

.wish-list {
  margin-top: 0px;
}

.filter-term-tile {
  padding: 10px;
  background-color: #91abad;
  border-radius: 24px;
  color: white;
  margin-bottom: 20px;
}

.filter-term-tile p {
  margin: 0px;
}

#product-search-term {
  margin-bottom: 0px;
}

#product-search .slick-arrow:before {
  color: #ae0000;
}