.list-group-item {
  line-height: 2.5;
}

.brand-logo {
  font-family: 'Sacramento';
  padding: 0px 20px !important;
}

.section-title {
  font-family: 'Telex';
  font-size: 25px;
  padding: 0px 20px;
  margin: 20px 0px 0px 0px;
}

/* Carousel */
#gift-carousel {
  height: 200px;
}