html body {
  height: 100%;
}

.list-group-item {
  line-height: 2.5;
}

.brand-logo {
  font-family: 'Sacramento';
  padding: 0px 20px !important;
}

.section-title {
  font-family: 'Telex';
  font-size: 25px;
  padding: 0px 20px;
  margin: 20px 0px 0px 0px;
}

/* Gift Carousel */
#gift-carousel {
  height: 225px;
}

/* Calendar */
.calendar-view {
  margin: 20px;
}
h2 {
  font-family: 'Telex';
  font-size: 20px;
}

/* Form */
.form-title {
  font-family: 'Telex';
  font-size: 25px;
}

.form-section {
  font-family: 'Telex';
  font-size: 20px;
}

/* Slick Carousel */
.text-box {
  height: 150px !important;
  width: 150px !important;
  text-align: center;
  vertical-align: middle;
  background-color: grey;
  margin: 10px;
  position: relative;
}

.event-text {
  margin-top: 30%;
}

.remove-item {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 30px !important;
  width: 30px !important;
}

